*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}
header{
    background-color: #282634;
    height: 100px;
    padding: 8px 0;

}

body{
    background-image: url(img/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/* classes auxiliares */
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;

}
.clear{clear: both;}

.w50{
    float: left;
    width: 50%;
}
.logo{
    float: left;
    margin-top: 10px;
}
.logo img{
    height: 60px;
}

.logo a {
    color: black;
    text-decoration: none;
}

/* menu mobile */
nav.menu-mobile{
    display: none;
    float: right;
}

nav.menu-mobile h2{
    cursor: pointer;
    color: white;
    margin-top: 10px;
    font-size: 35px;
}

nav.menu-mobile ul{
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
    text-align: center;
}
nav.menu-mobile li{
    padding: 8px 0;
    border-bottom:1px solid black ;
}
nav.menu-mobile li.selected{
    background: rgb(225, 225, 225);
}
nav.menu-mobile a{
    display: block;
    color: black;
    text-decoration: none;
}

nav.menu-desktop li.selected{font-weight: normal;}
nav.menu-desktop{
    float: right;
    margin: 15px 0;
}
nav.menu-desktop ul{
    position: relative;
    top: 8px;
}
nav.menu-desktop li{
    padding: 0 10px;
    font-weight: lighter;
    display: inline-block;
    font-size: 20px;
}
nav.menu-desktop a {
    color: white;
    text-decoration: none;
}
nav.menu-desktop a:hover{text-decoration: underline;} 


/*Section main-back*/
/* fim menu mobile */
/* menu desktop */


/* fim menu desktop */
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main h1{
    font-size: 30px;
    color: white;
    font-weight: normal;
}

.links {
    width: 350px;
    height: 300px;
    border-radius: 02%;
    text-align: center;
    background-color:  rgba(0, 0, 0, 0.5);
    padding: 40px 20px;
}
.dev{
    padding-top: 15px;
}
.dev a {
    color: white;
    font-size: 15px;
    font-weight: lighter;
    text-decoration: none;
    top: 10px;
    padding: 0 10px;
    font-weight: normal;
    display: inline;
}


div.aviso p {
    color: red;
}
footer.footer{
    background-color: #282634;
    width: 100%;
    bottom: 0;
    height: 50px;
    text-align: center;
}

.links ul {
  background: rgba(152, 155, 150, 0.1);
  background-color:  rgba(red, green, blue, alpha);
  font-size: 10px;
  margin: 10px;
}

div.links li {
  display:flex;
  align-items: center;
  justify-content: space-between;
}


div.links a {
  display: block;  
  color: white;
  text-decoration: none;  
  padding: 16px 0;
  font-size: 1.0rem;

}

div.links a:hover {
    text-decoration:underline;
    color: rgb(78, 78, 78)
}
 /* input */
 div.links input{
    background-color:  transparent;
    border: 0;
    border-bottom: 1px solid #fff;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;

}
/* botao */
.btn{
    cursor: pointer;
    display: inline-block;
    background: #5244a0;
    padding: 15px;
    font-family: inherit;
    font-size: 17px;
    margin-top: 30px;
    border: 0;
    border-radius: 3px;
    color: white;
    font-weight: normal;
    flex: auto;
 }
/* container */

/* responsividade */
@media screen and (max-width: 768px){
    nav.menu-desktop{display: none;}
    nav.menu-mobile{
        display: block;
    }
    nav.menu-mobile ul {
    margin-top: 30px;
    }
}
@media screen and (max-width: 500px){
    div.links{
        width: 100%;
    }
}