*{
  margin: 0;
  padding: 0;
}

.botao1, .botao2{
  width: 30px;
  padding: 5px;
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
}

.botao1:hover, .botao2:hover{
  background-color: black;
  color: white;
}

#container {
  margin: 0 auto;
}
#topo {
  height: 100px;
  padding-top: 25px;
  justify-content: center;
  background-color: whitesmoke;
}
#topo .logo{
  background-image: url(images/newG.png) no-repeat;
  background-size:  100px;
}
.logo {
  justify-items: center;
  align-items: center;
  background-color: whitesmoke;
}
.busca {
  background-color: red;
  width: auto;
  padding: 10px;
}
#topo ul {
  margin-top: 30px;
  float: left;
  list-style: none;
}
#topo ul li{
  float: left;
}

#topo ul li a{
  display: block;
  padding: 5px;
  background-color: #545454  ;
  text-decoration: none;
  color: white;
}

#topo ul li a:hover {
  display: block;
  padding: 5px;
  background-color: rgb(157, 255, 0);
  text-decoration: none;
}

#conteudo {
  border: 1px red solid;
  background-color: blue;
  padding: 10px;

}

#help{
  background-color: #4a3d3d;
  
}

.bloco1, .bloco2{
  display: none;
  margin: 5px;
  padding: 10px;
}
@media (min-width: 480px){

  #topo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  #navegacao{
    display: block;
  }
  .logo{
    padding: 20px;
  }

  #container {
    max-width: 767px;
    margin: 0 auto;
    background-color: rgb(17, 210, 88);

  } 

  #blocos{
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: 100px;
  }

  .bloco1, .bloco2{
   display: flex;   
   background-color: aqua; 
  }

}

ul{
  list-style: none;
}

@media (min-width: 768px){
  #container {
    background-color: rgb(92, 25, 194);
    max-width: 920px;
    margin: 0 auto;
  } 
}