@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html, body {
    min-width: 480px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: #01282e;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
.navbar {
    margin-bottom: 1px;
}

nav .img {
    width: 60px;
}

img.logo{
    width: 195px;
}
img.sobre{
    width: 200px;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li {
    margin: 0 5px;

}

nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav ul li a.active,nav ul li a:hover {
    background: #f88f06;

}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

div.myinput {
    margin-bottom: 50px;
}

input.box {
    margin: 0.1rem 0;
    padding: 0.8rem 1.2em;
    width: 100%;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
}

input.box:hover{
    background-color: #eeeeee75;
}

input.box input:focus-visible {
    outline: 1px solid #6c63ff;
}
input.box input::placeholder {
    color: #000000be;
}

div.mylinks {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    margin-bottom: 50px;
    width: 100%;
}

a.links {
    border-radius: 7px;
    font-size: 24px;
    color: #f88f06;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    
}
a:visited {
    color: none;
}
a:hover{
    background-color: #003840;
    transition: 1.5s;

}
a:active {
    background-color: #FFFF00;
}

div.lorem {
    display: flex;
    width: 100%;


}
.textoLorem{
    margin: 0;
    text-align: center; 
    width: 100%;
    height: 100%;
    
}
p{
    text-align: justify;
    text-indent: 30px;
}
.orgDiv {
    display: flex;
    position: relative;
    
}
.video {
    position: relative;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: #f88f06;
}
    


.video iframe{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}
/* iframe:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #f88f06;
} */
.imagem {
    position: relative;
    width: 100%;
    margin-left: 2px;
    border-width: 1px;
    border-style: solid;
    border-color: #f88f06;
}
.imagem img{
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
}

footer {
    margin-top: auto;
    color: white;
    background-color: #01282e;
    padding: 0.5em;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}
footer a{
    color: white;
}

main {
    padding: 2px;
    background-image: linear-gradient(#cccccc, white);
}



@media (max-width: 768px) {
    nav .menu-btn i {
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #003840;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }
    nav ul.open {
        left: 0;
    }
    nav ul li {
        width: 100%;
        margin: 50px;
    }
    nav ul li a{
        font-size: 23px;
    }
    nav ul li a.active,nav ul li a:hover {
        background: none;
        color: #f88f06;
    }
    .orgDiv {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
    
    }
    .video{
        position: relative;
        width: 100%;
    }
    .video iframe{
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
    } 
    .imagem {
        position: relative;
        width: 100%;
        margin-top: 2px;
        margin-left: 0;
    }
    .imagem img{
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
    }
    p{
        font-size: clamp(1em, 1em + 1vw, 1.5em);
}

@media (max-width: 480px) {
    .orgDiv{
        display: none !important;
    }
    body {
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        flex-direction: column;
        height: 100vh;
    
    }
}

}
