#title{
    background-color: aqua;
}

@media (min-width: 480px) {
    #title{
        background-color: crimson;
    }
}

@media (min-width: 768px) {
    #title{
        background-color: forestgreen;
    }
}