body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: grid;
    background-color: #E4E4E4;
    color: #1E1E1E; 
}

.container{
    display: grid;
    padding: 40px 15px;
    gap: 10px;
}

.logo{
    justify-self: center;
}

.icone_decorativo{
    display: grid;
    align-content: center;
}

.campo{
    height: 1.5rem;
    border-radius: 10px;
    border: 2px solid #1E1E1E;
    box-shadow: 4px 4px #1E1E1E;
    max-width: 600px;
}

.arrow{
    width: 60px;
    height: 4px;
    background-color: #E4E4E4;
    justify-self: center;
}

.titulo{
    align-self: end;
    text-align: center;
    font-weight: bold;
    font-size: 1.4rem;
}

.text{
    text-align: center;
}

#cabecalho{
    background-color: #4AA0D5;
    gap: 20px;
}

#menu_navegacao{
    display: grid;
    grid-template-columns: 1fr 75px;
    gap: 20px;
}

#form_pesquisa{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}

#section_link .campo{
    box-shadow: none;
}

#section_link h2{
    font-weight: bold;
    text-align: center;
}

#menu_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#section_link{
    background-image: url('../img/background_bicycle.jpg');
    background-size: cover;
    background-position: center center;
    color: #E4E4E4;
}

main .arrow{
    background-color: #1E1E1E;
}

footer .arrow{
    height: 3px;
    width: 100%;
    background-color: #1E1E1E;
}

#form_url{
    display: grid;
    grid-template-columns: 1fr;
}

#table_urls{
    border-collapse: separate;
    border: 2px solid #1E1E1E;
    border-radius: 12px;
}

#table_urls th:first-child{
    border-top-left-radius: 10px;
}

#table_urls th:last-child{
    border-top-right-radius: 10px;
}

#table_urls tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

#table_urls tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

#table_urls th{
    background-color: #4AA0D5;
    padding: 11px 13px;
    font-weight: bold;
    border: 2px solid #1E1E1E;
}

#table_urls td{
    background-color: #E4E4E4;
    padding: 8px 10px;
    border: 2px solid #1E1E1E;
}

#article_description{
    background-image: url('../img/287126.jpg');
    background-size: cover;
    background-position: center center;
    color: #E4E4E4;
}

#footer_content{
    padding: 30px 15px;
    background-color: #4AA0D5;
    display: grid;
    gap: 20px;
}

#footer_socialmedia{
    display: grid;
    grid-template-columns: 40px 40px 40px 40px;
    gap: 10px;
    justify-content: center;
}

#footer_information{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#footer_information ul{
    display: flex;
    width: auto;
    flex-flow: column;
    gap: 8px;
}

#footer_rights{
    padding: 30px 15px;
    background-color: #1E1E1E;
    color: #E4E4E4;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}




@media (min-width: 480px) {
    #cabecalho{
        grid-template-columns: auto 1fr;
    }
}

