body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    background-color: #E4E4E4;
    color: #1E1E1E;
}

.logo{
    justify-self: center;
}

#cabecalho{
    padding: 15px;
    display: grid;
    gap: 15px;
    background-color: #4AA0D5;
}

#menu_navegacao{
    display: grid;
    grid-template-columns: 1fr 75px;
    gap: 20px;
}

.icone_decorativo{
    display: grid;
    align-content: center;
}

#form_pesquisa{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}

.campo{
    height: 1.5rem;
    border-radius: 10px;
    border: 2px solid #1E1E1E;
    box-shadow: 4px 4px #1E1E1E;
}

#section_link .campo{
    box-shadow: none;
}

#menu_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#section_link{
    display: grid;
    padding: 40px 30px;
    gap: 10px;
    background-image: url('../img/background_bicycle.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.arrow{
    width: 50px;
    height: 3px;
    background-color: #E4E4E4;
    justify-self: center;
}

#container_principal .arrow{
    background-color: #1E1E1E;
}

.titulo{
    align-self: end;
    text-align: center;
    font-weight: bold;
    font-size: 1.7rem;
}

#section_link .titulo{
    color: #E4E4E4;
}

#form_url{
    display: grid;
    grid-template-columns: 1fr;
}

#container_principal{
    padding: 15px 30px;
    display: grid;
    gap: 10px;
}

#table_urls{
    border-collapse: collapse;
}

#table_urls th{
    background-color: #4AA0D5;
    color: #1E1E1E;
    padding: 11px 13px;
    font-weight: bold;
    border: 2px solid #E4E4E4;
}

#table_urls th:first-child{
    border-top-left-radius: 10px;
}

#table_urls th:last-child{
    border-top-right-radius: 10px;
}

#table_urls td{
    background-color: #1E1E1E;
    color: #E4E4E4;
    padding: 8px 10px;
    border: 2px solid #E4E4E4;
}

#table_urls tr:last-child td:first-child{
    border-bottom-left-radius: 10px;
}

#table_urls tr:last-child td:last-child{
    border-bottom-right-radius: 10px;
}

/*<p class="texto">Aliquam erat volutpat. Curabitur consectetur, velit et lacinia tempor, lorem mauris auctor nisi, eu aliquet sem odio nec odio. Suspendisse placerat euismod diam sit amet fringilla.</p>*/