body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: grid;
    gap: 20px;
    /*background-color: rgb(43, 43, 43);*/
    background-color: rgba(170, 170, 170, 0.048);
}

h1, h2, h3, ul{
    margin: 0px;
    padding: 0px;
}

li{
    margin: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

.logo{
    justify-self: center;
    margin-bottom: 15px;;
}

#cabecalho{
    padding: 15px;
    display: grid;
    background-color: #4AA0D5;
    /*border-bottom: 3px solid black;*/
}

#menu_navegacao{
    display: grid;
    grid-template-columns: 1fr 75px;
    gap: 20px;
}

.icone_decorativo{
    display: grid;
    align-content: center;
}

#form_pesquisa{
    display: grid;
    grid-template-columns: 30px 1fr;
    align-items: center;
    gap: 10px;
}

.campo{
    height: 1.5rem;
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px;
}

#menu_items{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

#secao_links{
    display: grid;
    padding: 15px;
    gap: 10px;
    background-color: rgb(31, 81, 181);
}

#secao_links h2{
    margin-left: 2px;
    font-size: 1.5rem;
}

#form_url{
    display: grid;
    grid-template-columns: 1fr;
}

#conteudo_principal{
    display: grid;
    padding: 15px 30px;
    background-color: aqua;
    
}

.links_json{
    font-weight: bold;
}

.links_json li{
    margin-left: 20px;
}

/*<p class="texto">Aliquam erat volutpat. Curabitur consectetur, velit et lacinia tempor, lorem mauris auctor nisi, eu aliquet sem odio nec odio. Suspendisse placerat euismod diam sit amet fringilla.</p>*/