@charset "UTF-8"; 

@media screen and (min-width: 768px){
    
    #burguer {
        display: none; 
    }

    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;

        
    }

}