@charset "UTF-8"; 

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    background-color: lightgrey;
}

header {
    background-color: rgb(148, 148, 148);
}

header > h1 {
    padding: 10px;
    text-align: center;
}

menu { 
    display: none; 
}

menu > ul {
    list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(105, 102, 102);
    color: white;
    border-top: 2px solid gray;
}

menu ul li a:hover{
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.descricao h2 {
    padding-bottom: 20px; 
    text-align: center;
}

.descricao p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

.midias{
  display: none;
}

#burguer{
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }

  #burguer:hover{
    background-color: white;
    color: black;
  }

  input {
    width: 95%;
    
    padding: 8px 10px;
    margin-bottom: 32px;
    
    border-radius: 16px;
    border: 1px solid #ccc;
    outline: none;
    
    font-size: 1.0rem;
    font-weight:300;
    
  }

  ul.urls{
    background: #00b4cc;
    box-shadow: 0px 4px 8px -2px #00000033;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 16px;
    font-size: 1.0rem;
    list-style-type: none;
    width: 70%;;
    
  }

  .btn{
    text-align: end;
    background: #cc0707;
    width: 20%;
    text-align: center;
    color: white;
  }

  .btn:hover{
    background-color: brown;
    cursor: pointer;
  }





  .footer{
    background-color: black;
    color: #f2f2f2;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    font-size: 0.8em;
    
  }

  .footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
  }

  .footer a:hover {
    text-decoration: underline;
    color: #00b4cc;
  } 