
input {
    /* width: 100%; */
    padding: 8px 16px;
    margin-bottom: 32px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 1rem;
    font-weight:300;
  }
  
  .conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* divs */
  .text {
    background-color: rgb(186, 182, 182);
    border-color: black;
    margin: 0;
  }
  
  .video {
    background-color: rgb(186, 182, 182);
  }
  
  .slide {
    background-color: rgb(186, 182, 182);
  }
  
  
  /* footer */
  footer {
    background-color: rgb(98, 134, 111);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;            
  }
  
  footer span {
    padding: 10px;
  }