/* body */
body {
  margin: 0;
  padding: 0;
  background-color: rgb(237, 237, 237);
  display: flex;
  flex-direction: column;
}


/* nav */
nav {
  width: 100%;
  float: left;
  padding: 10px 0px;
  /* display: flex; */
  /* justify-content: space-around; */
  /* align-items: center; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #b3b3e9;
  
}


.nav-list {
  list-style: none;
  display: inline-flex;
}


.mobile-menu {
  display: none;
  cursor: pointer;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: blue;
  margin: 8px;
}

a {
  display: inline-block;
  padding: 1em;
  color: black;
  text-decoration: none;
  /* transition: 0.3s; */
}

img.logo {
  width: 30px;
  height: 30px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input {
  padding: 8px 16px;
  margin-bottom: 32px;
  border-radius: 10px;
  border: 1px solid #ccc;
  /* outline: none; */
  font-size: 1rem;
  font-weight:300;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* divs */
.text {
  background-color: rgb(186, 182, 182);
  border-color: black;
  margin: 0;
}

.video {
  display: none;
  margin-top: 0.4em;
  background-color: rgb(186, 182, 182);
  height: 50px;
}

.slide {
  display: none;
  margin-top: 0.4em;
  background-color: rgb(186, 182, 182);
  height: 50px;
}


/* footer */
footer {
  background-color: rgb(98, 134, 111);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem;            
}

footer span {
  padding: 10px;
}

@media (min-width: 480px) {
  
  body {
    background-color: aqua;
  }

  .video {
    display: flex;

  }

  .slide {
    display: flex;
  }

  /* .nav-list {
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  } */

}

