body{
  display: grid;
  grid-template-rows: 5em 3em;
}

header{
  display: grid;
  grid-template-columns: 1fr;
  background-color: yellow;
  text-align: center;
}

#menu{
  width: 70px;
  right: 0px;
  position: absolute;

}

/* nav{
  display: grid;
  grid-template-columns: 30px 30px;
}
ul{
  display: grid;
  grid-template-columns: auto auto auto;
} */

#links h2{ 
  text-align: center;
}

#campoentrada{
  display: grid;
  grid-template-columns: auto;
  background-color: rgb(241, 107, 107);
  padding: 1em;
  margin-bottom: 1em;
}

#campoentrada form input{
  width: 80%;
  padding: 0.4em;
  align-items: center;
}

#campoentrada form{
  margin-left: em;
}

#desc span{
  text-align: center;
  margin: 2em 2em;
}
footer{
  position: fixed;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.796);
  color: white;
  padding: 0.5em;
  width: 100vh;
  margin-right: 0.1em;
}