@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

body {
  background-color: #7D79F2;
  margin: 0;
  padding: 0;
}

footer {
  position: absolute;
  bottom: 0;
  color: black;
  width: 100%;
  height: 100px;    
  text-align: center;
  line-height: 100px;
}

.page-my-favotite {
  display: grid;
  grid-template-columns: 1fr;
  /* display: flex;
  flex-direction: column; */
  font-size: 12px;
  /* width: 100%; */
  height: 100%;
  background-color: #7D79F2;
}

.paragraph {
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-family: Arial;
  text-align: justify;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.paragraph #paragrafos {
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-family: Arial;
  text-align: justify;
  margin-bottom: 5px;
}

.campo-entrada {
  display: flex;
  margin-top: 20px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
  margin-left: 0.8rem;
  margin-right: 0.8rem;

}

.my-favotite{
  display: grid;
  grid-template-columns: 1fr;
}

.my-favotite .link {
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 1rem;
  margin-bottom: 12px;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}

.my-favotite .link ul {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 10px;
  padding-right: 10px;
}

.my-favotite .link ul #nome-site {
  margin-right: 8px;
  width: 35%;
  
}
.my-favotite .link ul #link-site {
  width: 50%;
}
.my-favotite .link ul #delete-link {
  background-color: #af4f4c;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

input {
  color: rgb(54, 54, 54);
  border: none;
  background-color: aliceblue;
  border-radius: 10px;
  padding: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 99%;
}

img{
  height: 50px;
  width: 60px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.nav ul {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.nav ul li{
  display: inline;
  padding: 10px;
}

.nav ul li a {
  display: inline;
  text-decoration: none;
}

.nav ul li a:hover {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;

  border-radius: 8px;
  background-color: #d4b9fc;
  color: black;
}

/* #title {
  background-color: aqua;
}

@media (min-width: 480px){
  #title {
    background-color: red;
  }
}

@media (min-width: 768px){
  #title {
    background-color: forestgreen;
  }
} */

/* resetar alguns estilos padrões
body, ul, li, p {
  margin: 0%;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family: Arial;
}

img {
  height: 50px;
  border: 10px;
  background: #ddd;
  border-radius: 100px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

.header{
  background: #333;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.menu {
  display: flex;
  background: #ddd;
  border-radius: 5px;
}

.menu li{
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menu li a {
  display: block;
  padding: 10px;

}

.logo{
 justify-content: center;
} 

* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  
  background: #7159c1;
} */
