.container{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 15vh 10vh 50vh 20vh 1fr;
    grid-template-areas: 
    "header nav"
    "form form"
    "main main"
    "desc desc"
    "footer footer";

}

.adicionais{
    display: none;
}

header{
    background-color: gray;
    grid-area: header;
}
header img{
    height: 100%;
}

nav{
    background-color: gray;
    grid-area: nav;
}

nav img{
    height: 90%;
}

nav .menu{
    display: none;
}

.form{
    background-color: rgb(83, 80, 80);
    grid-area: form;
}

.form input{
    margin-left: 2rem;
    margin-top: 0.5rem;
    width: 80%;
}

main{
    background-color: rgb(75, 75, 255);
    grid-area: main;
}

main h1{
    text-align: center;
    margin-top: 0.5rem;
}

.desc{
    grid-area: desc;
    color: rgb(102, 100, 100);
}

.desc span{
    margin-left: 0.5rem;
    font-size: 0.8rem;
}

footer{
    background-color: black;
    grid-area: footer;
    color: white;
    font-size: 0.8rem;
}

/* para tablet 480px */

@media (min-width: 480px){
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 15vh 10vh 50vh 20vh 20vh 1fr;
        grid-template-areas: 
        "header nav"
        "form form"
        "main main"
        "desc video"
        "desc anuncio"
        "footer footer";
    }

    nav img{
        display: none;
    }

    nav .menu{
        display: flex;
    }
}