.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10vh 20vh 40vh 20vh 10vh;
  grid-template-areas:
  "logo nav"
  "form form"
  "links links"
  "desc desc"
  "footer footer";
}

.especiais{
  display: none;
}

.container header .logo{
  grid-area: logo;
  height: 100%;
}

.container header .nav{
  grid-area: nav;
  height: 100%;
}

.container main .form{
  grid-area: form;
}

.container main .links{
  grid-area: links;
}

.container main .desc{
  grid-area: desc;
}

footer{
  grid-area: footer;
}