.accordion {
   display: flex;
   flex-grow: 1;
   font-size: 1em;
   background-color: #0000;
   border: 0;
   text-align: center;
   display: block;
   color: #282828;
   padding: 0.5em;
   text-decoration: none;
   cursor: pointer;
}

.accordion span {
   display: flex;
   justify-content: center;
   align-items: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
   background-color: coral;
   color: #fff;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
   padding: 0 18px;
   background-color: white;
   display: none;
   overflow: hidden;
}