/* General */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 50px 0;
}

p,
li {
    font-size: 14px;
    color: #444;
}

/* Slideshow */

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 90vh;
}

/* About */

#about-area {
    background-color: #dddddd;
}

.main-title {
    color: #444;
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 40px;
}

#about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #347fc4;
    margin-right: 15px;
}

/* Specialities */

.specialities-box {
    text-align: center;
    margin-bottom: 50px;
}

.specialities-box i,
.specialities-box h4 {
    color: #444;
    transition: 1.5s;
    margin-bottom: 20px;
}

.specialities-box:hover>i,
.specialities-box:hover>h4 {
    color: #347fc4;
}

.specialities-box i {
    font-size: 36px;
}

.specialities-box h4 {
    font-size: 24px;
}

/* Numbers */

.circle-box {
    padding: 0 40px;
}

#numbers-area p {
    color: #dddddd;
    text-align: center;
    font-size: 26px;
    margin-top: 20px;
}

/* Team */

.card-body {
    text-align: center;
}

/* Work */

#work-area {
    height: 500px;
}

#work-area .container-fluid,
#work-area .row {
    height: 100%;
}

#company-img {
    background-image: url('../img/empresa.jpg');
    background-size: cover;
    height: 100%;
}


/* Ponto de quebra para resoluções abaixo de 480 px, para corrigir falhas no CSS em dispositivos móveis */

@media (max-width: 480px) {

}



