.footer {
    grid-area: footer;
    background-color: var(--primary-color);
    color: var(--primary-font-color);

    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
}

/* @Tablet */
@media (min-width: 480px) {
    .footer {
        grid-area: footer;
        margin-top: 5rem;
        position: relative;
        padding: 1rem;
    }
}