/* General */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 50px 0;
}

p, li {
    font-size: 14px;
    color: #444;
}

/* Slideshow */

#mainSlider .carousel-inner, #mainSlider .carousel-item{
    height: 90vh;
}

/* About */

#about-area {
    background-color: #F9F9F9;
}

.main-title {
    color: #444;
    margin: 0 0 50px 0;
    text-align: center;
    font-size: 40px;
}

#about-title {
    font-size: 17px;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list {
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: orange;
    margin-right: 15px;
}


/* specialities */

.specialities-box {
    text-align: center;
    margin-bottom: 50px;
}

.specialities-box:hover i,
.specialities-box:hover h4 {
    color: #444;
    transition: 0.5s;
    margin-bottom: 20px;
}

.specialities-box:hover>i,
.specialities-box:hover>h4 {
    color: #F9F9F9;
}

.specialities-box i {
    font-size: 36px;
}

.specialities-box h4 {
    font-size: 24px;
}

.card-box{
    
}