body {
  margin: 0;
  background-color: blue;
}

.header {
  background-color: red;
  display: flex;
  flex-direction: row;
}

.main {
  background-color: yellow;
  display: flex;
  flex-direction: row;
}

.footer {
  background-color: green;
  display: flex;
  flex-direction: row;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* Ref: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */