body {
    margin: 0;
    background-color: blue;
}

.header {
    background-color: red;
    display: flex;
    flex-direction: row;
}

.main {
    background-color: yellow;
    display: flex;
    flex-direction: row;
}

.footer {
    background-color: green;
    display: flex;
    flex-direction: row;
}