.container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#71a8e4,#8fc3f7);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.box {
  width: 500px;
  height: 300px;
  background: #fff;
  text-align: center;
}
body {
  margin: 0px;
}

ul {
  background: white;
  
  box-shadow: 0px 4px 8px -2px #00000033;
  border-radius: 6px;
  border: 1px solid #ddd;
  
  padding: 16px;
  
  font-size: 1.4rem;
  width: 90%;
  margin: auto;
  float: left;
  
}

li {
  list-style: none;
  
  display:flex;
  align-items: center;
  justify-content: space-between;
  
  border-bottom: 1px solid #ddd;
  float:left ;
  padding: 5px;
  
}

html{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  width: 80%;
  
  padding: 8px 16px;
  margin-bottom: 32px;
  
  border-radius: 16px;
  border: 1px solid #ccc;
  
  outline: none;
  
  font-size: 1.6rem;
  font-weight:300;
}
a{
  text-decoration: none;
}