/* Slideshow */
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh;
}

/* #title {
    background-color: aqua;
}

@media (min-width: 480px) {
    #title {
        background-color: crimson;
    }
}

@media (min-width: 768px) {
    #title {
        background-color: forestgreen;
    }
} */