:root{
    font-size: 16px;
    --black: #0a0c0d; 
    --cinza: #213635; 
    --white-gelo: #f2f2f2;
    --background: #e2e3e9; 
  }
  
  body, ul{
    margin: 0;
    padding: 0; 
  }
  
  body{
    font-family: -web-system,
    BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, 
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    background: var(--background);
  }
  
  div#logo{
    color: var(--white-gelo);
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  a{
    color: var(--white-gelo);
    text-decoration: none;
  }
  
  .header{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    padding: 1rem;
  }
  @media screen and (max-width: 480px){
    .header{
        margin-top: 1em;
        text-align: left;
    }
  }
  
  
  .menu{
    list-style: none;
    display: flex;
    gap: 0.5rem; 
  }
  
  @media screen and (max-width: 480px){
    nav ul li a{
        display: block;
        width: 100%;
    }
  }
  
  
  
  
  .footer{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    background: var(--black);
    padding: 1rem;
    color: #f2f2f2;
    margin-top: 20%;
  
  }