@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

/* Geral */
body {
	font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 25px 0;
}

p, li {
    font-size: 16px;
    color: #444;
}

/* Carousel */
#mainSlider .carousel-inner, #mainSlider .carousel-item {
    height: 90vh; 
}

/* About */
#about-area {
    background-color: rgba(240, 240, 240, 0.867);
}

.main-title {
    color: #444;
    margin: 0 0 50px, 0;
    text-align: center;
}

#about-title {
    font-size: 16px;
    color: #444;
    text-transform: uppercase;
    text-align: justify;
}

#about-list {
    padding-left: 0;
}

#about-list li{

}


/* Escialidades */

.specialities-box {
    text-align: center;
    margin-bottom: 40px;
}

.specialities-box i, .specialities-box h4 {
    color: #444;
    transition: .5s;
}
.specialities-box:hover>i, .specialities-box:hover>h4 {
    color: #347fc3;
}
.specialities-box i {
    margin-bottom: 20px;
    font-size: 30px;
}

/* Team */

.card-body {
    text-align: center;
}