*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('https://alefmirandadesigner.com/wp-content/uploads/2022/08/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1, h2, h3, h4, h5, h6 {
    color: white;
}

h1 {
    font-size: 72px;
}

h2 {
    font-size: 56px;
}

h3 {
    font-size: 48px;
}

h4 {
    font-size: 40px;
}

h5 {
    font-size: 32px;
}

h6 {
    font-size: 24px;
}

.border {
    border: 1px solid red;
}

.container {
    max-width: 720px;
    margin: 0 auto;
    height: 720px;
    padding-top: 96px;
    padding-right: 24px;
    padding-left: 24px;

}

.text-center {
    text-align: center;
}

p {
    color: #555;
}

.list {
    list-style: none;
    margin-top: 40px;
    margin-bottom: 40px;
}

a {
    text-decoration: none;
    text-align: right;
    margin-left: 48px;
    color: #b8151d;
}

a:hover {
    text-decoration: underline;
}

li {
    color: #777;
    padding: 16px 24px;
    border-bottom: 1px solid #222;
}

input[type=text] {
    background-color: #111;
    border: 0;
    border-radius: 4px;
    height: 40px;
    padding: 8px;
    margin-top: 24px;
    font-size: 18px;
    color: white;
}

button {
    padding: 8px;
    border: 0;
    border-radius: 4px;
    margin-left: 8px;
    background-color: #eee;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    cursor: pointer;
}

button:hover {
    background-color: #aaa;
}